body{
    margin: 0% 1.5% 0% 1.5%;
}

h3{
    font-family: "bebasregular";
    font-weight: lighter;
    color: white;
}

h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: lighter;
    color: white;
}

h5,summary,li,ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*TOP BANNER START*/        
        #top-banner {
            width: 100%;
            height: 3.5vh;
            overflow: hidden;         
            background-color: #a2d3f6;
        }

        #top-banner-text {
            display: inline-block;     
            white-space: nowrap;       
            
            animation: scroll 20s linear infinite;
            
            color: white;
            font-style: italic;
            font-size: 1rem;
        }

        #top-banner-text span {
            margin-inline: 15vw;       
        }

        /* Animation that moves it */
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(-50%); }
        }

/*TOP BANNER END*/

/*HEADER IMAGE/ICON START*/

        #header-image {
            position: relative;

            max-width: 100%;
            height: 30vh;
            margin-top: 1vh;  

            background-image: url("Images/Header-image.jpg");
            background-size: cover;
        }

        #eloria-icon{
            position:absolute; 
            top: 50%;                 
            left: 50%;                
            transform: translate(-50%, -50%); 
            text-align: center;

        }

        #eloria-icon img{
            height: 20vh;
            width: 30vh;
        }

/*HEADER IMAGE/ICON END*/


/*HEADER MAIN MENU START*/

        #header-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
        position: relative;
        }

        .menu-button {
        position: relative;

        background-color: cornsilk;
        cursor: pointer;
        }

        .dropdownbtn,
        .searchbtn {
        border: none;
        padding: 6px 14px;

        background-color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.2s ease;
        }

        .dropdownbtn:hover,
        .searchbtn:hover {
        color: #0066B0;
        text-decoration: underline;
        }

        .dropdown-content {
        position: absolute;
        
        display: none;
        background-color: white;
        border: 1px solid #0066B0;
        border-radius: 8px;
        
        padding: 20px;
        z-index: 10;
        }

        .menu-button:hover .dropdown-content {
        display: block;
        }

        .dropdown-columns {
        display: flex;
        gap: 40px;
        }

        .dropdown-columns ul {
        list-style-type: none;
        }

        .dropdown-columns li {
        margin: 4px 0;
        font-size: 0.8rem;
        }

        .dropdown-columns a {
        text-decoration: none;
        color: black;
        }

        .dropdown-columns a:hover {
        color: #0066B0;
        text-decoration: underline;
        }

        .dropdown-content ul {
        padding: 0;
        margin: 0;
        }

        .dropdown-content li {
        margin: 5px 0;
        font-size: 0.8rem;
        }

        .dropdown-content a {
        color: black;
        }

        .dropdown-content a:hover {
        color: #8CCAF6;
        text-decoration: underline;
        }

        .search-button {
        display: flex;
        align-items: center;

        cursor: pointer;
        gap: 0.5rem;
        }

        .search-button input {
        display: block;
        padding: 6px 10px;
        border: 1px solid #8CCAF6;
        border-radius: 5px;

        font-size: 0.8rem;
        }



/*HEADER MAIN MENU END*/


/*CATEGORIES SECTION START*/

        #lower-header-banner{
            text-align: center;

            padding: 0.3em;
            margin-bottom: 0.3em;
            background-color: #a2d3f6;
        }
        #lower-header-banner h3{                    
            margin-bottom: 0;
            font-size: 1.5rem;
        }
        #lower-header-banner h4 {
            margin-top: 1vh;
        }

        #categories-panel {
            display: flex;
            justify-content: center;
            gap: 1rem;
            background-color: white;
            padding: 1rem 0;
        }

        .categories-button {
            width: 9em;
            height: 2.7em;
            border-radius: 2px;

            background-color: white;
            border: 2px solid  #bbd8ed;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1rem;
            cursor: pointer;
        }

        .categories-button:hover {
            color:#0066B0;
        }


 /*CATEGORIES SECTION END*/

 /*CAROUSEL SECTION START*/

        .panel-inbetween {
            width: 100%;
            background-color: #a2d3f6;
            margin-top: 1em;
            height: 2em;
        }

        .panel-light {
            background-color: aliceblue;
        }

       #heading-carousel {
            text-align: center;
        }

        #heading-carousel h3{
            font-size: x-large;
            padding-top: 1em;
        }

        #Product-carousel {
            background-color:#a2d3f6;
            padding-bottom: 1.5rem;
        }

        #Carousel-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        background-color: #c5dcec;
        }

        #Carousel-box {
        display: flex;
        width: 65%;
        overflow: hidden; 

        gap: 2rem;

        background-color:aliceblue;
        }

        #Carousel-box img {
            flex: 0 0 calc(25% - 1.5rem);       /*Från denna bok https://files.addictbooks.com/wp-content/uploads/2024/04/Learning-Web-Design-5th-Edition.pdf
                                                Rubrik " Determining How Items “Flex” in the Container" sida. 456
                                                flex-grow = 0
                                                flex-shrink = 0
                                                flex basis = 25% --> varje bild, dvs en img tar 25% av hela carousel-box MEN räkna bort the gap mellan varje bild (rad267)*/
            width: 100%;           
            object-fit: contain;
        }

        .carousel-arrow img{
            width: 80%;
        }

        #next {
            margin-right: 8%;
            width: 30px;
            height: auto;
            cursor: pointer;
        }
        #prev {
            margin-left: 8%;
            width: 30px;
            height: auto;
            cursor: pointer;
        }

/*CAROUSEL SECTION END*/


        .menu-container {
            display: flex;
            width: 100%;
            align-items: flex-start;

            background-color: #dfecf4;
        }

/*FILTER VERTICAL MENU START*/
        
        #filtering-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 20vw;
            padding-top: 12vh; 
        }

        #filtering-menu h4{
            font-family: "bebasregular";
            font-size: 1.3rem;
            padding-left: 0.3rem;
            margin-bottom: 0;

            border-bottom:1px solid #0066B0 ;
            color: #0066B0;
        }
        
        #filter-menu details{
            text-decoration: none;
        }

        #filtering-menu ul {
            list-style-type: none;
            margin: 0;
            padding-left: 0;
        }
        #filtering-menu li {
            margin-top: 2rem;
            text-align: center;

            font-size: 0.7em;
            color: #0066B0;
            cursor: pointer;
        }
        #filtering-menu li:hover{
            border: 1px solid #0066B0;
            border-radius: 45%;
        }

        summary{
            margin-top: 0.7rem;
            padding-left: 2vw ;

            font-size: 2.3vh;
            color: #0066B0;
            list-style-type:none;
            cursor: pointer;
        }
/*FILTER VERTICAL MENU END*/

/*POPULAR CATEGORIES MENU START*/
        .right-side {
            display: flex;
            flex-direction: column;
            flex: 1;

            border-left: 1px solid #8CCAF6;;
        }

        .right-side h3{
            color: #0066B0;
            font-size:x-large;
        }
        .right-side h4{
            color: #0066B0;
        }

    #popular-categories-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-inline: 10%;
        padding-top: 5%;

    }
    #categories-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #categories-h4 img{
        vertical-align: middle;
    }

    .buttons-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
    }

    .lower-categories-button {
        background: white;
        color: #0066B0;
     
        border: 1px solid #0066B0;           
        padding: 5px 10px;      
        cursor: pointer;                  
    }
    .lower-categories-button.clicked {
        background: #8CCAF6;
        color: white;
    }   



    /* Products Grid */
    .products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 7%;
    height: 600px;
    overflow: scroll;
    }

    #scrollableproducts {
        display: flex;
        flex-wrap: wrap; 
        overflow-y: scroll;
        gap: 20px;

        color: #0066B0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.7em;
    }

    .card {
        flex: 0 0 200px; /*Varje kort tar upp 200px*/
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

/*POPULAR CATEGORIES MENU END*/

/*FOOTER START*/

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        gap: 5rem;

        padding-top: 10vh;
        margin-left: 2vw;

        background-color: #bbdff9;
        color: white;
    }

    footer h3{
        color: #0066B0;
    }

     footer label{
       display: block;      /*labels är ett inline element och då måste jag göra varje inline till ett block element för att skapa mellanrum mellan dem*/
       
       margin-bottom: 5vh;
    }

    #campaign-and-membership legend{
        font-family: "bebasregular";
        font-size: 1.7rem;
    }
    #campaign-and-membership fieldset{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
    }

    #help-section button{
        width: 9em;
            height: 2.7em;
            border-radius: 2px;

            background-color: white;
            border: 2px solid #0066B0;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1rem;
            cursor: pointer;
    }

    #help-section button:hover {
       color:#0066B0;
    }


    
/*FOOTER END*/


                                                /*FONTS*/

@font-face {
    font-family: 'bebasregular';
    src: url("fonts/BebasNeue-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
